.container {
	display: flex;
	width: 100%;
	background-color: #56a05e;
	height: 100vh;
	justify-content: center;
}
.login-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;

	.brand-name {
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
	}

	.connect-button {
		padding: 10px 20px;
		border-radius: 10px;
		border: 1px solid #efefef;
		display: flex;
		align-items: center;
		background-color: #ffffff;
		gap: 10px;
		box-shadow: 0 0 30px -8px #ffffff;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 50px -5px #ffffffcc;
		}

		img {
			width: 24px;
			height: 24px;
		}

		p {
			font-size: 18px;
		}
	}
	.footer-message {
		font-size: 20px;
		color: #ffffff;
	}
}
